body {
  padding-top: 110px;
}


header {
  width: 100%;
  background: #fff; // was #0a1e28
}

#logo {
  margin-top: 25px;
}

.navbar-brand img {
  width: 100%;
  position: relative;
}

.bordered {
  border: 1px solid #444;
  padding: 15px;
}

.navbar-brand img {
  width: 40%;
  margin-top: -14px;
}

.no-padding {
  padding: 0;
}